

<%- include('../layouts/userHeader.ejs') %>

	<!DOCTYPE html>
<html lang="zxx" class="no-js">

<head>
	<!-- Mobile Specific Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Favicon-->
	<link rel="shortcut icon" href="img/fav.png">
	<!-- Author Meta -->
	<meta name="author" content="CodePixar">
	<!-- Meta Description -->
	<meta name="description" content="">
	<!-- Meta Keyword -->
	<meta name="keywords" content="">
	<!-- meta character set -->
	<meta charset="UTF-8">
	<!-- Site Title -->
	<title>Audiogalore</title>
	<!--
			CSS
			============================================= -->
	<link rel="stylesheet" href="../fe/css/linearicons.css">
	<link rel="stylesheet" href="../fe/css/font-awesome.min.css">
	<link rel="stylesheet" href="../fe/css/themify-icons.css">
	<link rel="stylesheet" href="../fe/css/bootstrap.css">
	<link rel="stylesheet" href="../fe/css/owl.carousel.css">
	<link rel="stylesheet" href="../fe/css/nice-select.css">
	<link rel="stylesheet" href="../fe/css/nouislider.min.css">
	<link rel="stylesheet" href="../fe/css/ion.rangeSlider.css" />
	<link rel="stylesheet" href="../fe/css/ion.rangeSlider.skinFlat.css" />
	<link rel="stylesheet" href="../fe/css/main.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.5/dist/sweetalert2.min.css">
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.5/dist/sweetalert2.min.js"></script>

<style>
	.image-holder{
  width: 500px;
  position: relative;
  cursor: pointer;
  >img{
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}
.image-preview{
  width: 500px;
  height: 500px;
  overflow: hidden;
  position: relative;
  >img{
    position: absolute;
    top: 0;
    left: 0;
    transform: scale(2);
    transform-origin: left top;
  }
}
.d-none{
  display: none !important;
}
.magnifiying-glass{
  width: 100px;
  height: 100px;
  border: 1px dashed black;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.2);
}
figure{
  display: inline-block;
  vertical-align: top;
}
</style>
  <style>
	.tooltip-ellipsis {
  position: relative;
  display: inline-block;
  max-width: 350px; /* Adjust the maximum width as needed */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tooltip-ellipsis:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.tooltiptext {
  visibility: hidden;
  background-color: black;
  color: white;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
}

  </style>



 

</head>

<body>

	
	<!--================Single Product Area =================-->

	
	  <!-- Start Banner Area -->
    <section class="banner-area organic-breadcrumb">
        <div class="container">
            <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
                <div class="col-first">
                    <h1>Product Page</h1>
                    <nav class="d-flex align-items-center">
                        <a href="/">Home<span class="lnr lnr-arrow-right"></span></a>
                         <a href="/shop">Shop<span class="lnr lnr-arrow-right"></span></a>
                        <a href="">Product Page</a>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!-- End Banner Area -->


	<div class="product_image_area">
		<div class="container">

			<div class="row s_product_inner">
			
				
				<div class="col-lg-6">
					<div class="s_Product_carousel" class="image-holder">
						<div class="single-prd-item">
                        <div class="zoom-image-container">
                            <img class="img-fluid zoom-image" src="../product-images/<%= product.images[0]%>" alt="">
                        </div>
                    </div>

                    <div class="single-prd-item">
                        <div class="zoom-image-container">
                            <img class="img-fluid zoom-image" src="../product-images/<%= product.images[1]%>" alt="">
                        </div>
                        
                    </div>
                    <div class="single-prd-item">
                        <div class="zoom-image-container">
                            <img class="img-fluid zoom-image" src="../product-images/<%= product.images[2]%>" alt="">
                        </div>
                        
                    </div>
					</div>
				</div>
				
				<div class="col-lg-5 offset-lg-1">
					<div class="s_product_text">
						<h3 class="tooltip-ellipsis" title="<%= product.name %>">
							<%= product.name %>
							<span class="tooltiptext"><%= product.name %></span>
						</h3>


						<h2><i class="fa fa-inr" aria-hidden="true"></i> <%=product.price%></h2>
						<ul class="list">
							<li><a class="active" href="#"><span>Category</span> <%= categoryData.name %></a></li>
			<span style="font-weight: bold ; color: red;" id="stockQuantity">Available stocks:<%= product.stock %></span>

						</ul>
						<p><%=product.description%></p>
						<div class="product_count">
                            <label for="qty">Quantity:</label>
                            <input type="number" name="qty" id="qty" min="1" max="999" value="1" title="Quantity:" class="input-text qty">
                            <button onclick="increaseQty()" class="increase items-count" type="button"><i class="lnr lnr-chevron-up"></i></button>
                            <button onclick="decreaseQty()" class="reduced items-count" type="button"><i class="lnr lnr-chevron-down"></i></button>
                        </div>
                        
                        
						<div class="card_area d-flex align-items-center">
                            <button class="primary-btn" id="addToCartButton" onclick="addToCart('<%=product._id%>' , '<%=product.name%>' )">Add to Cart</button>
                            <a class="icon_btn" href="#"><i class="lnr lnr lnr-diamond"></i></a>
                            <a class="icon_btn" href=""  onclick="addToWishList('<%=product._id%>')"><i class="lnr lnr lnr-heart"></i></a>
                        </div>
						<script src="script.js"></script>
                          
                          <!-- Add a hidden div for the popup window -->
                        <div id="cartPopup" class="popup">
                            <div class="popup-content">
                              <span class="close" onclick="closePopup()">&times;</span>
                              <p id="popupText"></p>
                            </div>
                        </div>
                          






					</div>
				</div>
			</div>
		</div>
	</div>
	<!--================End Single Product Area =================-->

	<!--================Product Description Area =================-->
	<section class="product_description_area">
		<div class="container">
			<ul class="nav nav-tabs" id="myTab" role="tablist">
				<li class="nav-item">
					<a class="nav-link" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Description</a>
                </li>
				<li class="nav-item">
					<a class="nav-link active" id="review-tab" data-toggle="tab" href="#review" role="tab" aria-controls="review"
					 aria-selected="false">Reviews</a>
				</li>
			</ul>
			<div class="tab-content" id="myTabContent">
				<div class="tab-pane fade" id="home" role="tabpanel" aria-labelledby="home-tab">
					<p><%=product.category.description%></p>
				</div>
				<div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
					<div class="table-responsive">
						<table class="table">
							<tbody>
								<tr>
									<td>
										<h5>Width</h5>
									</td>
									<td>
										<h5>128mm</h5>
									</td>
								</tr>
								<tr>
									<td>
										<h5>Height</h5>
									</td>
									<td>
										<h5>508mm</h5>
									</td>
								</tr>
								<tr>
									<td>
										<h5>Depth</h5>
									</td>
									<td>
										<h5>85mm</h5>
									</td>
								</tr>
								<tr>
									<td>
										<h5>Weight</h5>
									</td>
									<td>
										<h5>52gm</h5>
									</td>
								</tr>
								<tr>
									<td>
										<h5>Quality checking</h5>
									</td>
									<td>
										<h5>yes</h5>
									</td>
								</tr>
								<tr>
									<td>
										<h5>Freshness Duration</h5>
									</td>
									<td>
										<h5>03days</h5>
									</td>
								</tr>
								<tr>
									<td>
										<h5>When packeting</h5>
									</td>
									<td>
										<h5>Without touch of hand</h5>
									</td>
								</tr>
								<tr>
									<td>
										<h5>Each Box contains</h5>
									</td>
									<td>
										<h5>60pcs</h5>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
					<div class="row">
						<div class="col-lg-6">
							<div class="comment_list">
								<div class="review_item">
									<div class="media">
										<div class="d-flex">
											<img src="img/product/review-1.png" alt="">
										</div>
										<div class="media-body">
											<h4>Blake Ruiz</h4>
											<h5>12th Feb, 2018 at 05:56 pm</h5>
											<a class="reply_btn" href="#">Reply</a>
										</div>
									</div>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
										dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
										commodo</p>
								</div>
								<div class="review_item reply">
									<div class="media">
										<div class="d-flex">
											<img src="img/product/review-2.png" alt="">
										</div>
										<div class="media-body">
											<h4>Blake Ruiz</h4>
											<h5>12th Feb, 2018 at 05:56 pm</h5>
											<a class="reply_btn" href="#">Reply</a>
										</div>
									</div>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
										dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
										commodo</p>
								</div>
								<div class="review_item">
									<div class="media">
										<div class="d-flex">
											<img src="img/product/review-3.png" alt="">
										</div>
										<div class="media-body">
											<h4>Blake Ruiz</h4>
											<h5>12th Feb, 2018 at 05:56 pm</h5>
											<a class="reply_btn" href="#">Reply</a>
										</div>
									</div>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
										dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
										commodo</p>
								</div>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="review_box">
								<h4>Post a comment</h4>
								<form class="row contact_form" action="contact_process.php" method="post" id="contactForm" novalidate="novalidate">
									<div class="col-md-12">
										<div class="form-group">
											<input type="text" class="form-control" id="name" name="name" placeholder="Your Full name">
										</div>
									</div>
									<div class="col-md-12">
										<div class="form-group">
											<input type="email" class="form-control" id="email" name="email" placeholder="Email Address">
										</div>
									</div>
									<div class="col-md-12">
										<div class="form-group">
											<input type="text" class="form-control" id="number" name="number" placeholder="Phone Number">
										</div>
									</div>
									<div class="col-md-12">
										<div class="form-group">
											<textarea class="form-control" name="message" id="message" rows="1" placeholder="Message"></textarea>
										</div>
									</div>
									<div class="col-md-12 text-right">
										<button type="submit" value="submit" class="btn primary-btn">Submit Now</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
				<div class="tab-pane fade show active" id="review" role="tabpanel" aria-labelledby="review-tab">
					<div class="row">
						<div class="col-lg-6">
							<div class="row total_rate">
								<div class="col-6">
									<div class="box_total">
										<h5>Overall</h5>
										<h4>4.0</h4>
										<h6>(03 Reviews)</h6>
									</div>
								</div>
								<div class="col-6">
									<div class="rating_list">
										<h3>Based on 3 Reviews</h3>
										<ul class="list">
											<li><a href="#">5 Star <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i
													 class="fa fa-star"></i><i class="fa fa-star"></i> 01</a></li>
											<li><a href="#">4 Star <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i
													 class="fa fa-star"></i><i class="fa fa-star"></i> 01</a></li>
											<li><a href="#">3 Star <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i
													 class="fa fa-star"></i><i class="fa fa-star"></i> 01</a></li>
											<li><a href="#">2 Star <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i
													 class="fa fa-star"></i><i class="fa fa-star"></i> 01</a></li>
											<li><a href="#">1 Star <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i
													 class="fa fa-star"></i><i class="fa fa-star"></i> 01</a></li>
										</ul>
									</div>
								</div>
							</div>
							<div class="review_list">
								<div class="review_item">
									<div class="media">
										<div class="d-flex">
											<img src="img/product/review-1.png" alt="">
										</div>
										<div class="media-body">
											<h4>Blake Ruiz</h4>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
										</div>
									</div>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
										dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
										commodo</p>
								</div>
								<div class="review_item">
									<div class="media">
										<div class="d-flex">
											<img src="img/product/review-2.png" alt="">
										</div>
										<div class="media-body">
											<h4>Blake Ruiz</h4>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
										</div>
									</div>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
										dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
										commodo</p>
								</div>
								<div class="review_item">
									<div class="media">
										<div class="d-flex">
											<img src="img/product/review-3.png" alt="">
										</div>
										<div class="media-body">
											<h4>Blake Ruiz</h4>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
										</div>
									</div>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
										dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
										commodo</p>
								</div>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="review_box">
								<h4>Add a Review</h4>
								<p>Your Rating:</p>
								<ul class="list">
									<li><a href="#"><i class="fa fa-star"></i></a></li>
									<li><a href="#"><i class="fa fa-star"></i></a></li>
									<li><a href="#"><i class="fa fa-star"></i></a></li>
									<li><a href="#"><i class="fa fa-star"></i></a></li>
									<li><a href="#"><i class="fa fa-star"></i></a></li>
								</ul>
								<p>Outstanding</p>
								<form class="row contact_form" action="contact_process.php" method="post" id="contactForm" novalidate="novalidate">
									<div class="col-md-12">
										<div class="form-group">
											<input type="text" class="form-control" id="name" name="name" placeholder="Your Full name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your Full name'">
										</div>
									</div>
									<div class="col-md-12">
										<div class="form-group">
											<input type="email" class="form-control" id="email" name="email" placeholder="Email Address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email Address'">
										</div>
									</div>
									<div class="col-md-12">
										<div class="form-group">
											<input type="text" class="form-control" id="number" name="number" placeholder="Phone Number" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Phone Number'">
										</div>
									</div>
									<div class="col-md-12">
										<div class="form-group">
											<textarea class="form-control" name="message" id="message" rows="1" placeholder="Review" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Review'"></textarea></textarea>
										</div>
									</div>
									<div class="col-md-12 text-right">
										<button type="submit" value="submit" class="primary-btn">Submit Now</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================End Product Description Area =================-->

	<!-- Start related-product Area -->

	<!-- End related-product Area -->

	<!-- start footer Area -->
	<footer class="footer-area section_gap">
		<div class="container">
			<div class="row">
				<div class="col-lg-3  col-md-6 col-sm-6">
					<div class="single-footer-widget">
						<h6>About Us</h6>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore dolore
							magna aliqua.
						</p>
					</div>
				</div>
				<div class="col-lg-4  col-md-6 col-sm-6">
					<div class="single-footer-widget">
						<h6>Newsletter</h6>
						<p>Stay update with our latest</p>
						<div class="" id="mc_embed_signup">

							<form target="_blank" novalidate="true" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
							 method="get" class="form-inline">

								<div class="d-flex flex-row">

									<input class="form-control" name="EMAIL" placeholder="Enter Email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Email '"
									 required="" type="email">


									<button class="click-btn btn btn-default"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></button>
									<div style="position: absolute; left: -5000px;">
										<input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value="" type="text">
									</div>

									<!-- <div class="col-lg-4 col-md-4">
												<button class="bb-btn btn"><span class="lnr lnr-arrow-right"></span></button>
											</div>  -->
								</div>
								<div class="info"></div>
							</form>
						</div>
					</div>
				</div>
				<div class="col-lg-3  col-md-6 col-sm-6">
					<div class="single-footer-widget mail-chimp">
						<h6 class="mb-20">Instragram Feed</h6>
						<ul class="instafeed d-flex flex-wrap">
							<li><img src="img/i1.jpg" alt=""></li>
							<li><img src="img/i2.jpg" alt=""></li>
							<li><img src="img/i3.jpg" alt=""></li>
							<li><img src="img/i4.jpg" alt=""></li>
							<li><img src="img/i5.jpg" alt=""></li>
							<li><img src="img/i6.jpg" alt=""></li>
							<li><img src="img/i7.jpg" alt=""></li>
							<li><img src="img/i8.jpg" alt=""></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-2 col-md-6 col-sm-6">
					<div class="single-footer-widget">
						<h6>Follow Us</h6>
						<p>Let us be social</p>
						<div class="footer-social d-flex align-items-center">
							<a href="#"><i class="fa fa-facebook"></i></a>
							<a href="#"><i class="fa fa-twitter"></i></a>
							<a href="#"><i class="fa fa-dribbble"></i></a>
							<a href="#"><i class="fa fa-behance"></i></a>
						</div>
					</div>
				</div>
			</div>
			<div class="footer-bottom d-flex justify-content-center align-items-center flex-wrap">
				<p class="footer-text m-0"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
</p>
			</div>
		</div>
	</footer>
	<!-- End footer Area -->

</body>

<script src="../fe/js/vendor/jquery-2.2.4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
 crossorigin="anonymous"></script>

 <script src="../fe/js/popper.min.js"></script>   
 <script src="../fe/js/stellar.js"></script>


<script src="../fe/js/vendor/bootstrap.min.js"></script>
<script src="../fe/js/jquery.ajaxchimp.min.js"></script>
<script src="../fe/js/jquery.nice-select.min.js"></script>
<script src="../fe/js/jquery.sticky.js"></script>
<script src="../fe/js/nouislider.min.js"></script>
<script src="../fe/js/jquery.magnific-popup.min.js"></script>
<script src="../fe/js/owl.carousel.min.js"></script>
<!--gmaps Js-->
<script src="../fe/https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
<script src="../fe/js/gmaps.min.js"></script>

<script src="../fe/js/main.js"></script>




  <script>
    function increaseQty() {
      var qtyInput = document.getElementById('qty');
      var currentQty = parseInt(qtyInput.value);
      if (!isNaN(currentQty)) {
        qtyInput.value = currentQty + 1;
      }
    }
  
    function decreaseQty() {
      var qtyInput = document.getElementById('qty');
      var currentQty = parseInt(qtyInput.value);
      if (!isNaN(currentQty) && currentQty > 1) {
        qtyInput.value = currentQty - 1;
      }
    }
  
    function addToCart(productId,name) {
      var qtyInput = document.getElementById('qty');
      var quantity = parseInt(qtyInput.value);
      console.log(quantity);
      if (!isNaN(quantity) && quantity > 0) {
        var data = {
          productId: productId,
          quantity: quantity,
		  name:name
        };
  
        fetch('/addToCart', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify(data)
        })
          .then(function(response) {
            if (response.ok) {
              Swal.fire({
                title: 'Success',
                text: 'Product added to cart',
                icon: 'success',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'View Cart',
                cancelButtonText: 'Continue Shopping'
              }).then(function(result) {
                if (result.isConfirmed) {
                  window.location.href = '/viewCart';
                }
              });
            } else {
              Swal.fire('Error', 'Failed to add product to cart', 'error');
            }
          })
          .catch(function(error) {
            console.log('Error:', error);
            Swal.fire('Error', 'Failed to add product to cart', 'error');
          });
      } else {
        Swal.fire('Error', 'Invalid quantity', 'error');
      }
    }
  </script>


<!-- zoom -->

<script>
	// Function to handle the zoom effect
	function handleZoom(event) {
		const imageContainer = event.currentTarget;
		const image = imageContainer.querySelector('.zoom-image');
		const zoomCircle = imageContainer.querySelector('.zoom-circle');
  
		// Get the position of the mouse pointer relative to the image container
		const rect = imageContainer.getBoundingClientRect();
		const offsetX = event.clientX - rect.left;
		const offsetY = event.clientY - rect.top;
  
		// Calculate the position of the zoom circle and set its size
		const circleSize = 100; // Adjust this value to change the size of the zoom circle
		const circleX = offsetX - circleSize / 2;
		const circleY = offsetY - circleSize / 2;
  
		// Apply the zoom effect by changing the scale of the image and zoom circle
		image.style.transformOrigin = `${offsetX}px ${offsetY}px`;
		image.style.transform = 'scale(2.2)';
  
		zoomCircle.style.width = circleSize + 'px';
		zoomCircle.style.height = circleSize + 'px';
		zoomCircle.style.left = circleX + 'px';
		zoomCircle.style.top = circleY + 'px';
		zoomCircle.style.transform = 'scale(2)'; // Adjust this value to change the zoom circle's zoom level
	}
  
	// Function to reset the zoom effect
	function resetZoom(event) {
		const imageContainer = event.currentTarget;
		const image = imageContainer.querySelector('.zoom-image');
		const zoomCircle = imageContainer.querySelector('.zoom-circle');
  
		image.style.transform = 'scale(1)';
		zoomCircle.style.transform = 'scale(1)';
	}
  
	// Attach event listeners to the image container
	const imageContainers = document.querySelectorAll('.zoom-image-container');
	imageContainers.forEach(container => {
		container.addEventListener('mousemove', handleZoom);
		container.addEventListener('mouseleave', resetZoom);
     });
  </script>
  
  


</html>