<!DOCTYPE html>
<html lang="zxx" class="no-js">

<head>
	<!-- Mobile Specific Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Favicon-->
	<link rel="shortcut icon" href="img/fav.png">
	<!-- Author Meta -->
	<meta name="author" content="CodePixar">
	<!-- Meta Description -->
	<meta name="description" content="">
	<!-- Meta Keyword -->
	<meta name="keywords" content="">
	<!-- meta character set -->
	<meta charset="UTF-8">
	<!-- Site Title -->
	<title>Audiogalore</title>

	<!--
		CSS
		============================================= -->
        <link rel="stylesheet" href="../fe/css/linearicons.css">
        <link rel="stylesheet" href="../fe/css/owl.carousel.css">
        <link rel="stylesheet" href="../fe/css/themify-icons.css">
        <link rel="stylesheet" href="../fe/css/font-awesome.min.css">
        <link rel="stylesheet" href="../fe/css/nice-select.css">
        <link rel="stylesheet" href="../fe/css/nouislider.min.css">
        <link rel="stylesheet" href="../fe/css/bootstrap.css">
        <link rel="stylesheet" href="../fe/css/main.css">
</head>

<body>

	<!-- Start Header Area -->
    <%- include('../layouts/userHeader.ejs')%>	
	<!-- End Header Area -->

	<!-- Start Banner Area -->

	<!-- End Banner Area -->

	<!--================Order Details Area =================-->
	<section class="order_details section_gap">
		<div class="container" style="margin-top: 100px;">
			
			<div class="row order_d_inner" style="display: flex;justify-content: center;">
				<div class="col-lg-4">
					<div class="details_item" style="margin-bottom: 50px;">
						<h4>Order Info</h4>
						<ul class="list">
							<li><a href="#"><span>Order number</span><%=result[0].order_id%></a></li>
							<li><a href="#"><span>Date</span><%=formattedDate%></a></li>
							<li><a href="#"><span>Time</span><%=formattedTime%></a></li>

							<li><a href="#"><span>Total</span>₹<%=result[0].total%>.00 </a></li>
							<li><a href="#"><span>Payment method</span><%=result[0]. payment_method%></a></li>
							<li><a href="#"><span>Order Status</span><%=result[0].orderStatus%></a></li>

						</ul>
					</div>
				</div>
			
				<div class="col-lg-4">
					<div class="details_item">
						<h4>Shipping Address</h4>
						<ul class="list">
							<li><a href="#"><span>Name</span><%=result[0]. shipping_address.name%></a></li>
							<li><a href="#"><span>MobileNumber</span><%=result[0]. shipping_address.mobileNumber%></a></li>
							<li><a href="#"><span>Street</span><%=result[0]. shipping_address.address%></a></li>
							<li><a href="#"><span>Locality</span><%=result[0]. shipping_address.locality%></a></li>
							<li><a href="#"><span>City</span><%=result[0]. shipping_address.city%></a></li>
							<li><a href="#"><span>Pincode</span><%=result[0]. shipping_address.pincode%></a></li>
							<li><a href="#"><span>State</span><%=result[0]. shipping_address.state%></a></li>




                            

                            


							
						</ul>
					</div>
				</div>
			</div>
			<div class="order_details_table">
				<h2>Order Details</h2>
				<div class="table-responsive">
					<table class="table">
						<thead>
							<tr>
								<th scope="col">Product</th>
								<th scope="col">Price</th>

								<th scope="col" style="padding-left: 0px;">Quantity</th>
								<th scope="col">Total</th>
							</tr>
						</thead>
						<tbody>
                            <% result[0].product_details.forEach((product) => { %>
							<tr>

                                <td>
                                    <p><%=product.productName%></p>
								</td>
                                <td>
                                    <p><%=product.productPrice%></p>
								</td>
								<td>
                                    <h5><%=product.quantity%></h5>
								</td>
								<td>
                                    <p><%=product.quantity*product.productPrice%></p>
								</td>
							</tr>
                            <%  })%>

							
							<tr>
								<td>
									<h4>Coupon Code</h4>
								</td>
								<td>
									<h5></h5>
								</td>
								<td></td>

								<td>
    <% if (result[0].couponCode) { %>
        <p><%= result[0].couponCode %></p>
    <% } else { %>
        <p>No coupon code Added</p>
    <% } %>
</td>

							</tr>

							<tr>
								<td>
									<h4>Discount %</h4>
								</td>
								<td>
									<h5></h5>
								</td>
								<td></td>

								<td>
									<p><%=result[0].discountPercentage%> %</p>
								</td>
							</tr>

							<tr>
								<td>
									<h4>Discount Amount</h4>
								</td>
								<td>
									<h5></h5>
								</td>
								<td></td>
								<td>
									<p>₹ <%=result[0].discountAmount%></p>
								</td>
							</tr>
						
                            <tr>
                                <td><h5>Subtotal</h5></td>
                                <td></td>
                                <td></td>
                                <td><%=result[0].total%></td>
                            </tr>
							
						</tbody>
					</table>
				</div>
			</div>
			<div class="row " style="margin-top: 30px;">
				<div class="col-lg-4">
				  <a href="/download-invoiceProfile?id=<%=result[0].order_id%>" class="download-invoice-btn">
					<i class="fa fa-download"></i> Download Invoice
				  </a>
		</div>
	</section>
	<!--================End Order Details Area =================-->

	<!-- start footer Area -->
	<footer class="footer-area section_gap">
		<div class="container">
			<div class="row">
				<div class="col-lg-3  col-md-6 col-sm-6">
					<div class="single-footer-widget">
						<h6>About Us</h6>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore dolore
							magna aliqua.
						</p>
					</div>
				</div>
				<div class="col-lg-4  col-md-6 col-sm-6">
					<div class="single-footer-widget">
						<h6>Newsletter</h6>
						<p>Stay update with our latest</p>
						<div class="" id="mc_embed_signup">

							<form target="_blank" novalidate="true" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
							 method="get" class="form-inline">

								<div class="d-flex flex-row">

									<input class="form-control" name="EMAIL" placeholder="Enter Email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Email '"
									 required="" type="email">


									<button class="click-btn btn btn-default"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></button>
									<div style="position: absolute; left: -5000px;">
										<input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value="" type="text">
									</div>

									<!-- <div class="col-lg-4 col-md-4">
													<button class="bb-btn btn"><span class="lnr lnr-arrow-right"></span></button>
												</div>  -->
								</div>
								<div class="info"></div>
							</form>
						</div>
					</div>
				</div>
				<div class="col-lg-3  col-md-6 col-sm-6">
					<div class="single-footer-widget mail-chimp">
						<h6 class="mb-20">Instragram Feed</h6>
						<ul class="instafeed d-flex flex-wrap">
							<li><img src="img/i1.jpg" alt=""></li>
							<li><img src="img/i2.jpg" alt=""></li>
							<li><img src="img/i3.jpg" alt=""></li>
							<li><img src="img/i4.jpg" alt=""></li>
							<li><img src="img/i5.jpg" alt=""></li>
							<li><img src="img/i6.jpg" alt=""></li>
							<li><img src="img/i7.jpg" alt=""></li>
							<li><img src="img/i8.jpg" alt=""></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-2 col-md-6 col-sm-6">
					<div class="single-footer-widget">
						<h6>Follow Us</h6>
						<p>Let us be social</p>
						<div class="footer-social d-flex align-items-center">
							<a href="#"><i class="fa fa-facebook"></i></a>
							<a href="#"><i class="fa fa-twitter"></i></a>
							<a href="#"><i class="fa fa-dribbble"></i></a>
							<a href="#"><i class="fa fa-behance"></i></a>
						</div>
					</div>
				</div>
			</div>
			<div class="footer-bottom d-flex justify-content-center align-items-center flex-wrap">
				<p class="footer-text m-0"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
</p>
			</div>
		</div>
	</footer>
	<!-- End footer Area -->




	<script src="../fe/js/vendor/jquery-2.2.4.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.../fe/js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
	 crossorigin="anonymous"></script>
	<script src="../fe/js/vendor/bootstrap.min.js"></script>
	<script src="../fe/js/jquery.ajaxchimp.min.js"></script>
	<script src="../fe/js/jquery.nice-select.min.js"></script>
	<script src="../fe/js/jquery.sticky.js"></script>
	<script src="../fe/js/nouislider.min.js"></script>
	<script src="../fe/js/jquery.magnific-popup.min.js"></script>
	<script src="../fe/js/owl.carousel.min.js"></script>
	<!--gmaps Js-->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
	<script src="../fe/js/gmaps.min.js"></script>
	<script src="../fe/js/main.js"></script>
</body>

</html>