<%- include('../layouts/userHeader.ejs') %>

   <!DOCTYPE html>
<html lang="zxx" class="no-js">

<head>
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon-->
    <link rel="shortcut icon" href="img/fav.png">
    <!-- Author Meta -->
    <meta name="author" content="CodePixar">
    <!-- Meta Description -->
    <meta name="description" content="">
    <!-- Meta Keyword -->
    <meta name="keywords" content="">
    <!-- meta character set -->
    <meta charset="UTF-8">
    <!-- Site Title -->
    <title>Karma Shop</title>

    <!--
            CSS
            ============================================= -->
            <link rel="stylesheet" href="../fe/css/linearicons.css">
            <link rel="stylesheet" href="../fe/css/owl.carousel.css">
            <link rel="stylesheet" href="../fe/css/font-awesome.min.css">
            <link rel="stylesheet" href="../fe/css/themify-icons.css">
            <link rel="stylesheet" href="../fe/css/nice-select.css">
            <link rel="stylesheet" href="../fe/css/nouislider.min.css">
            <link rel="stylesheet" href="../fe/css/bootstrap.css">
            <link rel="stylesheet" href="../fe/css/main.css">

             <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="../assets2/imgs/theme/favicon.svg">
    <!-- Template CSS -->
    <link rel="stylesheet" href="../assets2/css/main.css">
    <!-- Add Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Add Font Awesome CSS CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">



    <style>
      #editFormContainer {
    display: none;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
  }
  
  #editFormContainer h2 {
    margin-top: 0;
  }
  
  #editFormContainer form {
    margin-bottom: 10px;
  }
  
  #editFormContainer form label {
    display: block;
    margin-bottom: 10px;
  }
  
  #editFormContainer form input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
  }
  
  #editFormContainer form button {
    padding: 10px 20px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  #editFormContainer form button:hover {
    background-color: #45a049;
  }
  
  #closeEditForm {
    padding: 5px 10px;
    background-color: #ccc;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #closeEditForm:hover {
    background-color: #999;
  }
  
  </style>




</head>

<body>



    
    <!-- Start Header Area -->
    <%- include('../layouts/newUH.ejs')%>	

	
	<!-- End Header Area -->


 
  <div class="mobile-header-active mobile-header-wrapper-style">
    <div class="mobile-header-wrapper-inner">
        <div class="mobile-header-top">
            <div class="mobile-header-logo">
                <a href="index.html"><img src="../assets2/imgs/theme/logo.svg" alt="logo"></a>
            </div>
            <div class="mobile-menu-close close-style-wrap close-style-position-inherit">
                <button class="close-style search-close">
                    <i class="icon-top"></i>
                    <i class="icon-bottom"></i>
                </button>
            </div>
        </div>
        <div class="mobile-header-content-area">
            <div class="mobile-search search-style-3 mobile-header-border"> 
                <form action="#">
                    <input type="text" placeholder="Search for items…">
                    <button type="submit"><i class="fi-rs-search"></i></button>
                </form>
            </div>
            <div class="mobile-menu-wrap mobile-header-border">
                <div class="main-categori-wrap mobile-header-border">
                    <a class="categori-button-active-2" href="#">
                        <span class="fi-rs-apps"></span> Browse Categories
                    </a>
                    <div class="categori-dropdown-wrap categori-dropdown-active-small">
                        <ul>
                            <li><a href="shop-grid-right.html"><i class="evara-font-dress"></i>Women's Clothing</a></li>
                            <li><a href="shop-grid-right.html"><i class="evara-font-tshirt"></i>Men's Clothing</a></li>
                            <li> <a href="shop-grid-right.html"><i class="evara-font-smartphone"></i> Cellphones</a></li>
                            <li><a href="shop-grid-right.html"><i class="evara-font-desktop"></i>Computer & Office</a></li>
                            <li><a href="shop-grid-right.html"><i class="evara-font-cpu"></i>Consumer Electronics</a></li>
                            <li><a href="shop-grid-right.html"><i class="evara-font-home"></i>Home & Garden</a></li>
                            <li><a href="shop-grid-right.html"><i class="evara-font-high-heels"></i>Shoes</a></li>
                            <li><a href="shop-grid-right.html"><i class="evara-font-teddy-bear"></i>Mother & Kids</a></li>
                            <li><a href="shop-grid-right.html"><i class="evara-font-kite"></i>Outdoor fun</a></li>
                        </ul>
                    </div>
                </div>
                <!-- mobile menu start -->
                <nav>
                    <ul class="mobile-menu">
                        <li class="menu-item-has-children"><span class="menu-expand"></span><a href="index.html">Home</a>
                            <ul class="dropdown">
                                <li><a href="index.html">Home 1</a></li>
                                <li><a href="index-2.html">Home 2</a></li>
                                <li><a href="index-3.html">Home 3</a></li>
                                <li><a href="index-4.html">Home 4</a></li>
                            </ul>
                        </li>
                        <li class="menu-item-has-children"><span class="menu-expand"></span><a href="shop-grid-right.html">shop</a>
                            <ul class="dropdown">
                                <li><a href="shop-grid-right.html">Shop Grid – Right Sidebar</a></li>
                                <li><a href="shop-grid-left.html">Shop Grid – Left Sidebar</a></li>
                                <li><a href="shop-list-right.html">Shop List – Right Sidebar</a></li>
                                <li><a href="shop-list-left.html">Shop List – Left Sidebar</a></li>
                                <li><a href="shop-fullwidth.html">Shop - Wide</a></li>
                                <li class="menu-item-has-children"><span class="menu-expand"></span><a href="#">Single Product</a>
                                    <ul class="dropdown">
                                        <li><a href="shop-product-right.html">Product – Right Sidebar</a></li>
                                        <li><a href="shop-product-left.html">Product – Left Sidebar</a></li>
                                        <li><a href="shop-product-full.html">Product – No sidebar</a></li>
                                    </ul>
                                </li>
                                <li><a href="shop-filter.html">Shop – Filter</a></li>
                                <li><a href="shop-wishlist.html">Shop – Wishlist</a></li>
                                <li><a href="shop-cart.html">Shop – Cart</a></li>
                                <li><a href="shop-checkout.html">Shop – Checkout</a></li>
                                <li><a href="shop-compare.html">Shop – Compare</a></li>
                            </ul>
                        </li>
                        <li class="menu-item-has-children"><span class="menu-expand"></span><a href="#">Mega menu</a>
                            <ul class="dropdown">
                                <li class="menu-item-has-children"><span class="menu-expand"></span><a href="#">Women's Fashion</a>
                                    <ul class="dropdown">
                                        <li><a href="shop-product-right.html">Dresses</a></li>
                                        <li><a href="shop-product-right.html">Blouses & Shirts</a></li>
                                        <li><a href="shop-product-right.html">Hoodies & Sweatshirts</a></li>
                                        <li><a href="shop-product-right.html">Women's Sets</a></li>
                                    </ul>
                                </li>
                                <li class="menu-item-has-children"><span class="menu-expand"></span><a href="#">Men's Fashion</a>
                                    <ul class="dropdown">
                                        <li><a href="shop-product-right.html">Jackets</a></li>
                                        <li><a href="shop-product-right.html">Casual Faux Leather</a></li>
                                        <li><a href="shop-product-right.html">Genuine Leather</a></li>
                                    </ul>
                                </li>
                                <li class="menu-item-has-children"><span class="menu-expand"></span><a href="#">Technology</a>
                                    <ul class="dropdown">
                                        <li><a href="shop-product-right.html">Gaming Laptops</a></li>
                                        <li><a href="shop-product-right.html">Ultraslim Laptops</a></li>
                                        <li><a href="shop-product-right.html">Tablets</a></li>
                                        <li><a href="shop-product-right.html">Laptop Accessories</a></li>
                                        <li><a href="shop-product-right.html">Tablet Accessories</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="menu-item-has-children"><span class="menu-expand"></span><a href="blog-category-fullwidth.html">Blog</a>
                            <ul class="dropdown">
                                <li><a href="blog-category-grid.html">Blog Category Grid</a></li>
                                <li><a href="blog-category-list.html">Blog Category List</a></li>
                                <li><a href="blog-category-big.html">Blog Category Big</a></li>
                                <li><a href="blog-category-fullwidth.html">Blog Category Wide</a></li>
                                <li class="menu-item-has-children"><span class="menu-expand"></span><a href="#">Single Product Layout</a>
                                    <ul class="dropdown">
                                        <li><a href="blog-post-left.html">Left Sidebar</a></li>
                                        <li><a href="blog-post-right.html">Right Sidebar</a></li>
                                        <li><a href="blog-post-fullwidth.html">No Sidebar</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="menu-item-has-children"><span class="menu-expand"></span><a href="#">Pages</a>
                            <ul class="dropdown">
                                <li><a href="page-about.html">About Us</a></li>
                                <li><a href="page-contact.html">Contact</a></li>
                                <li><a href="page-account.html">My Account</a></li>
                                <li><a href="page-login-register.html">login/register</a></li>
                                <li><a href="page-purchase-guide.html">Purchase Guide</a></li>
                                <li><a href="page-privacy-policy.html">Privacy Policy</a></li>
                                <li><a href="page-terms.html">Terms of Service</a></li>
                                <li><a href="page-404.html">404 Page</a></li>
                            </ul>
                        </li>
                        <li class="menu-item-has-children"><span class="menu-expand"></span><a href="#">Language</a>
                            <ul class="dropdown">
                                <li><a href="#">English</a></li>
                                <li><a href="#">French</a></li>
                                <li><a href="#">German</a></li>
                                <li><a href="#">Spanish</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
                <!-- mobile menu end -->
            </div>
            <div class="mobile-header-info-wrap mobile-header-border">
                <div class="single-mobile-header-info mt-30">
                    <a  href="page-contact.html"> Our location </a>
                </div>
                <div class="single-mobile-header-info">
                    <a href="page-login-register.html">Log In / Sign Up </a>
                </div>
                <div class="single-mobile-header-info">
                    <a href="#">(+01) - 2345 - 6789 </a>
                </div>
            </div>
            <div class="mobile-social-icon">
                <h5 class="mb-15 text-grey-4">Follow Us</h5>
                <a href="#"><img src="../assets2/imgs/theme/icons/icon-facebook.svg" alt=""></a>
                <a href="#"><img src="../assets2/imgs/theme/icons/icon-twitter.svg" alt=""></a>
                <a href="#"><img src="../assets2/imgs/theme/icons/icon-instagram.svg" alt=""></a>
                <a href="#"><img src="../assets2/imgs/theme/icons/icon-pinterest.svg" alt=""></a>
                <a href="#"><img src="../assets2/imgs/theme/icons/icon-youtube.svg" alt=""></a>
            </div>
        </div>
    </div>
</div>
    <main class="main">
      
        <section class="pt-150 pb-150 " style="margin-top: 90px;">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 m-auto">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="dashboard-menu">
                                    <ul class="nav flex-column" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link active" id="dashboard-tab" data-bs-toggle="tab" href="#dashboard" role="tab" aria-controls="dashboard" aria-selected="false"><i class="fi-rs-settings-sliders mr-10"></i>Dashboard</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="orders-tab" data-bs-toggle="tab" href="#orders" role="tab" aria-controls="orders" aria-selected="false"><i class="fi-rs-shopping-bag mr-10"></i>Orders</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="track-orders-tab" data-bs-toggle="tab" href="#track-orders" role="tab" aria-controls="track-orders" aria-selected="false"><i class="fi-rs-shopping-cart-check mr-10"></i>Track Your Order</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="address-tab" data-bs-toggle="tab" href="#address" role="tab" aria-controls="address" aria-selected="true"><i class="fi-rs-marker mr-10"></i>My Address</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="account-detail-tab" data-bs-toggle="tab" href="#account-detail" role="tab" aria-controls="account-detail" aria-selected="true"><i class="fi-rs-user mr-10"></i>Address</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="/logout"><i class="fi-rs-sign-out mr-10"></i>Logout</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="tab-content dashboard-content">
                                    <div class="tab-pane fade active show" id="dashboard" role="tabpanel" aria-labelledby="dashboard-tab">
                                        <div class="card">
                                            <div class="card-header">
                                              <h5 class="mb-0">Hello <%=user.fname%> <%=user.lname%>!</h5>
                                            </div>
                                            <div class="card-body" style="display: flex; flex-direction: column; align-items: center; text-align: center;">
                                              <div style="width: 150px; height: 150px; border-radius: 50%; background-color: #ccc; margin-bottom: 20px;">
                                                <i class="fas fa-user fa-5x" style="line-height: 150px;"></i>
                                              </div>
                                              <p style="margin: 0;"><strong>Name:</strong> <%=user.fname%> <%=user.lname%> </p>
                                              <p style="margin: 0;"><strong>Email:</strong> <%=user.email%> </p>
                                              <p style="margin: 0;"><strong>Mobile Number:</strong> <%=user.mobile%> </p>
                                              <a href="#" onclick="openPopup()" style="color: green;">Edit Info</a>
                                              <a href="#" onclick="openPassPopup()" style="color: green;">Change Password</a>


                                            </div>
                                          </div>

                                          <!-- popup -->

                                          <div id="popupe" style="position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); background-color: #fff; border: 1px solid #ccc; padding: 20px; z-index: 9999; display: none;">
                                            <button onclick="closePopup()" style="position: absolute; top: 10px; right: 10px; background-color: transparent; border: none; font-size: 20px; cursor: pointer;">&times;</button>
                                            <form  method="post" action="/editInfo">
                                                <label for="fname">First Name:</label>
                                                <input type="text" id="fname" name="fname" value=" <%=user.fname%>" required>
                                                
                                                <label for="lname">Last Name:</label>
                                                <input type="text" id="lname" name="lname" value=" <%=user.lname%>" required>
                                                
                                              <label for="email">Email:</label>
                                              <input type="email" id="email" name="email" value=" <%=user.email%>" required>
                                            
                                              
                                              <label for="mobile">Mobile Number:</label>
                                              <input type="text" id="mobile" name="mobile" value=" <%=user.mobile%>" required>
                                              
                                              <button type="submit">Save</button>
                                            </form>
                                          </div>

                                          <!-- popup -->



                                          <!-- popup -->

                                          <div id="popupp" style="position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); background-color: #fff; border: 1px solid #ccc; padding: 20px; z-index: 9999; display: none;">
                                            <button onclick="closePassPopup()" style="position: absolute; top: 10px; right: 10px; background-color: transparent; border: none; font-size: 20px; cursor: pointer;">&times;</button>
                                            <form method="post" action="/editPassword" onsubmit="return validatePasswords()">
                                              <label for="newPass">New Password:</label>
                                              <input type="password" id="newPass" name="newPass" required>
                                              <br><br>
                                              <label for="confPass">Confirm Password:</label>
                                              <input type="password" id="confPass" name="confPass" required>
                                              <br><br>
                                              <button type="submit">Save</button>
                                            </form>
                                          </div>

                                          <!-- popup -->


                                      </div>
                                      
                                    <div class="tab-pane fade" id="orders" role="tabpanel" aria-labelledby="orders-tab">
                                        <div class="card">
                                            <div class="card-header">
                                                <h5 class="mb-0">Your Orders</h5>
                                            </div>
                                            <div class="card-body">
                                                <div class="table-responsive">
                                                  <table class="table">
                                                    <thead>
                                                        <tr>
                                                            <th>Order</th>
                                                            <th>Date</th>
                                                            <th>Status</th>
                                                            <th>Total</th>
                                                            <th></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <% orders.forEach((order) => { %>
                                                            <tr>
                                                                <td><%= order._id %></td>
                                                                <td><%= order.date %></td>
                                                                <td><%= order.status %></td>
                                                                <td><%= order.total %></td>
                                                                <td>
                                                                  <div class="dropdown">
                                                                      <button class="btn-small dropdown-toggle" type="button" id="actionDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                                                                          Actions
                                                                      </button>
                                                                      <ul class="dropdown-menu" aria-labelledby="actionDropdown">
                                                                        <% if(order.status === 'Placed') { %>
                                                                            <li><a class="dropdown-item" onclick="cancelOrder('<%= order._id %>', 'Cancel Requested')" href="#">Cancel Order</a></li>
                                                                        <% } else if (order.status === 'Delivered') { %>
                                                                          
                                                                            <li><a class="dropdown-item" onclick="cancelOrder('<%= order._id %>', 'Return Requested')" href="#">Return Order</a></li>
                                                                        <% } %>
                                                                        <li><a class="dropdown-item" href="/viewOrder?id=<%= order._id %>">View Details</a></li>
                                                                    </ul>
                                                                    
                                                                  </div>
                                                              </td>
                                                            </tr>
                                                        <% }) %>
                                                    </tbody>
                                                </table>
                                                
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="track-orders" role="tabpanel" aria-labelledby="track-orders-tab">
                                        <div class="card">
                                            <div class="card-header">
                                                <h5 class="mb-0">Orders tracking</h5>
                                            </div>
                                            <div class="card-body contact-from-area">
                                                <p>To track your order please enter your OrderID in the box below and press "Track" button. This was given to you on your receipt and in the confirmation email you should have received.</p>
                                                <div class="row">
                                                    <div class="col-lg-8">
                                                        <form class="contact-form-style mt-30 mb-50" action="#" method="post">
                                                            <div class="input-style mb-20">
                                                                <label>Order ID</label>
                                                                <input name="order-id" placeholder="Found in your order confirmation email" type="text" class="square">
                                                            </div>
                                                            <div class="input-style mb-20">
                                                                <label>Billing email</label>
                                                                <input name="billing-email" placeholder="Email you used during checkout" type="email" class="square">
                                                            </div>
                                                            <button class="submit submit-auto-width" type="submit">Track</button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="address" role="tabpanel" aria-labelledby="address-tab">
                                        <div class="row" id="addressSection">
                                          <% arr.forEach(function(address, index) { %>
                                          <div class="col-lg-6">
                                            <div class="card mb-3 mb-lg-0">
                                              <div class="card-header">
                                                <h5 class="mb-0">Address <%= index + 1 %></h5>
                                              </div>
                                              <div class="card-body">
                                                <address>
                                                  <%= address.name %><br>
                                                  <%= address.address %><br>
                                                  <%= address.locality %><br>
                                                  <%= address.city %><br>
                                                  <%= address.pincode %><br>
                                                  <%= address.city %> <br>
                                                  <%= address.state %><br>
                                                  <%= address.mobileNumber %><br>
                                                 
                                                </address>
                                                <a href="#" class="btn-small edit-address" onclick="openEditForm(this, <%= JSON.stringify(address) %>)" >Edit</a><br>
                                                <a href="/deleteAddress?id=<%=address._id%>">Delete</a>
                                              </div>
                                            </div>
                                          </div>
                                          <% }); %>
                                      
                                          <!-- Popup -->
                                          <div id="editFormContainer" style="display: none;">
                                            <p>Edit Address</p>

                                            <form id="editForm" action="updateAddress" method="post">

                                             <input type="hidden" id="editIds" name="id" required>
                                              <label for="name">Name:</label>
                                              <input type="text" id="editName" name="name" required>
                                              <label for="address">Address:</label>
                                              <input type="text" id="editAddress" name="address" required>
                                              <label for="locality">Locality:</label>
                                              <input type="text" id="editLocality" name="locality" required>
                                              <label for="city">City:</label>
                                              <input type="text" id="editCity" name="city" required>
                                              <label for="pincode">Pincode:</label>
                                              <input type="text" id="editPincode" name="pincode" required>
                                              <label for="state">State:</label>
                                              <input type="text" id="editState" name="state" required>
                                              <label for="mobileNumber">Mobile Number:</label>
                                              <input type="text" id="editMobileNumber" name="mno" required>

                                              <button type="submit">Save</button>
                                            </form>
                                            <button id="closeEditForm" >Close</button>
                                          </div>
                                        </div>
                                      </div>

                                      <!-- popupends -->


                                      





                                      
                                    <div class="tab-pane fade" id="account-detail" role="tabpanel" aria-labelledby="account-detail-tab">
                                        <div class="card">
                                            <div class="card-header">
                                              <h5>Add Address</h5>
                                            </div>
                                            <div class="card-body">
                                              <form method="post" name="enq" id="addressForm">
                                                <div class="row">
                                                  <div class="form-group col-md-6">
                                                    <label>Name <span class="required">*</span></label>
                                                    <input required="" class="form-control square" name="name" type="text">
                                                  </div>
                                                  <div class="form-group col-md-6">
                                                    <label>Mobile Number<span class="required">*</span></label>
                                                    <input required="" class="form-control square" name="mno" type="text">
                                                  </div>
                                                  <div class="form-group col-md-12">
                                                    <label>Address <span class="required">*</span></label>
                                                    <input required="" class="form-control square" name="address" type="text">
                                                  </div>
                                                  <div class="form-group col-md-12">
                                                    <label>Locality <span class="required">*</span></label>
                                                    <input required="" class="form-control square" name="locality" type="text">
                                                  </div>
                                                  <div class="form-group col-md-12">
                                                    <label>City/District/Town <span class="required">*</span></label>
                                                    <input required="" class="form-control square" name="city" type="text">
                                                  </div>
                                                  <div class="form-group col-md-12">
                                                    <label>Pincode <span class="required">*</span></label>
                                                    <input required="" class="form-control square" name="pincode" type="text">
                                                  </div>
                                                  <div class="form-group col-md-12">
                                                    <label>State<span class="required">*</span></label>
                                                    <input required="" class="form-control square" name="state" type="text">
                                                  </div>
                                                  <div class="col-md-12">
                                                    <button type="submit" class="btn btn-fill-out submit" name="submit" value="Submit">Save</button>
                                                  </div>
                                                </div>
                                                <!-- Popup -->
                                                <div id="popup" style="display: none;">
                                                <p>Address saved successfully!</p>
                                                 </div>
                                              </form>

                                            </div>
                                          </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

 
    <!-- Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="text-center">
                    <h5 class="mb-5">Now Loading</h5>
                    <div class="loader">
                        <div class="bar bar1"></div>
                        <div class="bar bar2"></div>
                        <div class="bar bar3"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>


      <!-- Start Header Area -->
      <%- include('../layouts/userFooter.ejs')%>	

	
      <!-- End Header Area -->




     
      <script>
        function openEditForm(editBtn, address) {
          var cards = document.querySelectorAll('.card');
          cards.forEach(function(card) {
            card.style.display = 'none';
          });
          
          
         
      
          document.getElementById('editName').value = address.name;
          document.getElementById('editAddress').value = address.address;
          document.getElementById('editLocality').value = address.locality;
          document.getElementById('editCity').value = address.city;
          document.getElementById('editPincode').value = address.pincode;
          document.getElementById('editState').value = address.state;
          document.getElementById('editMobileNumber').value = address.mobileNumber;
        
          document.getElementById('editIds').value = address._id;

      
          document.getElementById('editFormContainer').style.display = 'block';
        }
      
        function closeEditForm() {
          document.getElementById('editFormContainer').style.display = 'none';
          var cards = document.querySelectorAll('.card');
          cards.forEach(function(card) {
            card.style.display = 'block';
          });
        }
      </script>
      
      
       
      
      
      
      
      
      
    <!-- ajax -->

    
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  $(document).ready(function() {
    $('#addressForm').submit(function(e) {
      e.preventDefault(); // Prevent the form from submitting traditionally

      var formData = $(this).serialize(); // Get form data

      // AJAX request
      $.ajax({
        type: 'POST',
        url: 'submitAddress', // Replace 'submit_address' with your desired URL
        data: formData,
        success: function(response) {
          // Show the popup
          $('#popup').fadeIn();

          // Reset the form
          $('#addressForm')[0].reset();
        },
        error: function() {
          alert('Error occurred. Please try again.');
        }
      });
    });
  });
</script>








    <!-- Vendor JS-->
    <script src="../assets2/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="../assets2/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="../assets2/js/vendor/jquery-migrate-3.3.0.min.js"></script>
    <script src="../assets2/js/vendor/bootstrap.bundle.min.js"></script>
    <script src="../assets2/js/plugins/slick.js"></script>
    <script src="../assets2/js/plugins/jquery.syotimer.min.js"></script>
    <script src="../assets2/js/plugins/wow.js"></script>
    <script src="../assets2/js/plugins/jquery-ui.js"></script>
    <script src="../assets2/js/plugins/perfect-scrollbar.js"></script>
    <script src="../assets2/js/plugins/magnific-popup.js"></script>
    <script src="../assets2/js/plugins/select2.min.js"></script>
    <script src="../assets2/js/plugins/waypoints.js"></script>
    <script src="../assets2/js/plugins/counterup.js"></script>
    <script src="../assets2/js/plugins/jquery.countdown.min.js"></script>
    <script src="../assets2/js/plugins/images-loaded.js"></script>
    <script src="../assets2/js/plugins/isotope.js"></script>
    <script src="../assets2/js/plugins/scrollup.js"></script>
    <script src="../assets2/js/plugins/jquery.vticker-min.js"></script>
    <script src="../assets2/js/plugins/jquery.theia.sticky.js"></script>
    <!-- Template  JS -->
    <script src="../assets2/js/main.js"></script>




     <!-- End footer Area -->
     <script src="../fe/js/vendor/jquery-2.2.4.min.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
      crossorigin="anonymous"></script>
     <script src="../fe/js/vendor/bootstrap.min.js"></script>
     <script src="../fe/js/jquery.ajaxchimp.min.js"></script>
     <script src="../fe/js/jquery.nice-select.min.js"></script>
     <script src="../fe/js/jquery.sticky.js"></script>
     <script src="../fe/js/nouislider.min.js"></script>
     <script src="../fe/js/jquery.magnific-popup.min.js"></script>
     <script src="../fe/js/owl.carousel.min.js"></script>
     <!--gmaps Js-->
     <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
     <script src="../fe/js/gmaps.min.js"></script>
     <script src="../fe/js/main.js"></script>
     <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
     



     <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js"></script>
     <script>
        function openPopup() {
          var popup = document.getElementById("popupe");
          popup.style.display = "block";
        }
      
        function closePopup() {
          var popup = document.getElementById("popupe");
          popup.style.display = "none";
        }
      </script>


<script>
    function openPassPopup() {
      var popup = document.getElementById("popupp");
      popup.style.display = "block";
    }
    function closePassPopup() {
    var popup = document.getElementById("popupp");
    popup.style.display = "none";
  }
  
    function validatePasswords() {
    var newPassword = document.getElementById("newPass").value;
    var confirmPassword = document.getElementById("confPass").value;

    if (newPassword !== confirmPassword) {
      alert("Passwords do not match");
      return false; // Prevent form submission
    }

    return true; // Allow form submission
  }
  </script>


<!-- cancelOrder -->
<script>
  
  
  function cancelOrder(orderId,status)
  {
    console.log(orderId);
    $.ajax({
      url:'/cancelOrder',
      method:'put',
      data: {
        orderId: orderId,
    status:status

      },
      success:(response)=>
      {
        if(response)
        {
          location.reload()
        }
      }
    })
  }
</script>






<!-- Popup HTML element -->
<div id="popup"></div>











 


</body>


<!-- Mirrored from wp.alithemes.com/html/evara/evara-frontend/page-account.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:27:15 GMT -->
</html>